[submodule ".registry"]
	path = .registry
	url = https://github.com/mrustl/universe
	shallow = true
	branch = HEAD
[submodule "dodv"]
	path = dodv
	url = https://github.com/mrustl/dodv
	shallow = true
	registered = true
[submodule "fvbb.scorer"]
	path = fvbb.scorer
	url = https://github.com/mrustl/fvbb.scorer
	shallow = true
	registered = true
[submodule "tigo"]
	path = tigo
	url = https://github.com/mrustl/tigo
	shallow = true
	registered = true
[submodule "kwb.utils"]
	path = kwb.utils
	url = https://github.com/kwb-r/kwb.utils
	shallow = true
	registered = false
