[submodule ".registry"]
	path = .registry
	url = https://github.com/mrustl/universe
	shallow = true
	branch = HEAD
[submodule "dodv"]
	path = dodv
	url = https://github.com/mrustl/dodv
	shallow = true
	registered = true
[submodule "fvbb.scorer"]
	path = fvbb.scorer
	url = https://github.com/mrustl/fvbb.scorer
	shallow = true
	registered = true
