[submodule ".registry"]
	path = .registry
	url = https://github.com/mrustl/universe
	shallow = true
	branch = HEAD
[submodule "dodv"]
	path = dodv
	url = https://github.com/mrustl/dodv
	shallow = true
	registered = true
[submodule "mastr"]
	path = mastr
	url = https://github.com/mrustl/mastr
	shallow = true
	registered = true
[submodule "kwb.utils"]
	path = kwb.utils
	url = https://github.com/kwb-r/kwb.utils
	shallow = true
	registered = false
